.summer-site-head .summer-site-head-content h1 {
  padding-top: 3rem;
  font-size: 0.875rem;
  margin-bottom: 0.9375rem; }
.summer-site-head .summer-site-head-content h2 {
  font-size: 2.5rem;
  padding-bottom: 3rem;
  font-weight: 700;
  line-height: 1.3; }
@media only screen and (min-width: 40.063em) {
  .summer-site-head .summer-site-head-content h1 {
    padding-top: 3rem;
    font-size: 1rem; }
  .summer-site-head .summer-site-head-content h2 {
    font-size: 1rem;
    padding-bottom: 3rem;
    font-weight: 700; } }
@media only screen and (min-width: 70em) {
  .summer-site-head .summer-site-head-content h1 {
    padding-top: 3rem;
    font-size: 1rem; }
  .summer-site-head .summer-site-head-content h2 {
    font-size: 1rem;
    padding-bottom: 3rem;
    font-weight: 700; } }
@media only screen and (min-width: 90em) {
  .summer-site-head .summer-site-head-content h1 {
    padding-top: 3rem; }
  .summer-site-head .summer-site-head-content h2 {
    font-size: 2rem;
    padding-bottom: 3rem; } }
